@@ -0,0 +1,80 @@
* {
    font-family: 'Myriad Pro';
}
.top-block {
    background: #ef5350;
    height: 705px;
}
header {
    background: #e94643;
    height: 99px;
    position: relative;
    border-top: 22px solid #04e4a2;
}
.header-logo {
    margin: 25px 0px 0px 230px;
}
.header-contact {
    font-size: 16px;
    color: #f9fbe7;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 3px solid #fdd835;
    position: relative;
    left: 809px;
    bottom: 13px;
}
.top-block-info {
    color: #f9fbe7;
    font-size: 18px;
    text-decoration: none;
    /* margin: 250px 158px 129px 709px; */
    word-spacing: 1px;
    letter-spacing: -1px;
    margin-top: 187px;
    margin-left: 705px;
    margin-right: 159px;
    margin-bottom: 129px;
    word spasing: 2;
}
.top-block-title {
    font-size: 30px;
    text-transform: uppercase;
}
.top-block-data {}
.top-block-button {
    text-transform: uppercase;
    text-align: center;
    width: 166px;
    height: 53px;
    background: #04e4a2;
    border: none;
    transition: 0.5s;
    border-radius: 3px;
    position: relative;
    bottom: -39px;
    right: -335px;
}
.bottom-block {
    height: 467px;
    background: #fff;
}
.bottom-form {}
.form-name {}
.form-input {
    width: 246px;
    height: 46px;
    border: 2px solid #e3f2fd;
    border-radius: 2px;
}
footer {
    height: 73px;
    background: #fefcf2;
    display: block;
    bottom: 0px;
    font-size: 16px;
    color: #636363;
}
.footer-info {}
.footer-contact {}
.footer-icon {}
